body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	background: green;
    color: ;
	}

h1 {
	font-family:Courier;
	font-size:40px;
	font-weight:bold;
	margin: 0;
	padding: 0;
    background: aqua;
	}

h2 {
    margin: 15px;
    color: aliceblue;
}

h3 {
    color: aliceblue;
}
hr {
	border:none;
	border-top: 4px solid ;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}
	
#menu {
	width: 200px;
	margin: 20px;
	}
	
#menu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: underline;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #FFF;
	display: block;
	background:  url(menu.gif);
	padding: 8px 0 0 35px;
	}
	
#menu li a:hover {
	color: #FFF;
	background:  url(menu.gif) 0 -32px;
	padding: 8px 0 0 35px;
	}