{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Scripts para SYSADMIN en Python</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static "styles.css" %}" type="text/css" />
</head>
<body>
<h1>Scripts para SYSADMIN en Python</h1>
<hr />
    <h2>Scripts: </h2>
<div id="menu">
<div id="menu">
  <ul>
    <li><a href="/main">Main Script</a></li>
    <li><a href="/dependencies">Dependencies</a></li>
    <li><a href="/nmap">NMap</a></li>
    <li><a href="/speedtest">SpeedTest</a></li>
    <li><a href="/pingcheck">PingCheck</a></li>
    <li><a href="/interfaces">Interfaces</a></li>
    <li><a href="/webstatus">WebStatus</a></li>
  </ul>
</div>
    
 <h3>Download: </h3> 
 <ul>
    <li><a href="https://github.com/Externoak/Python-Scripts-SYSAdmin">Github</a></li>
    <li><a href="/download">Download Scripts</a></li>
 </ul>
  
  <h3>Other Usefull Projects: </h3>
  <ul>
    <li><a href="https://github.com/Externoak/Vagrant-Django-CMS">Django-Vagrant</a></li>
    <li><a href="https://github.com/giampaolo/psutil">Psutil</a></li>
 </ul>
</body>
</html>
